<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Item</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create_items.css" type="text/css" />
  <link rel="stylesheet" href="/styles/view_items.css" type="text/css" />
  <link rel="stylesheet" href="/styles/error.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
  <%- include('partials/_header') %>


  <div class='create-item-container'>
    <form action="<% if (typeof item !== 'undefined' && item.id) { %>/items/update<% } else { %>/items/new <% } %>" method="post" id="create-item" onsubmit="return submitForm();">
      <input type="hidden" name="id" id="id" value="<% if (typeof item !== 'undefined' && item.id) { %><%= item.id%><% } %>">

      <!-- Error message -->
      <div class="alert" id="alert1">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span id="errorMessage"></span>
      </div>

      <div>
        <label for="toy_name"><b>Name</b></label>
        <textarea  class="text-area create-area" name="toy_name" id="toy_name"><% if (typeof item !== 'undefined' && item.name) { %><%= item.name%><% } %></textarea>
      </div>
      <div>
        <label for="description"><b>Description</b></label>
        <textarea class="text-area create-area" name="description" id="description"><% if (typeof item !== 'undefined' && item.description) { %><%= item.description%><% } %></textarea>
      </div>
      <div>
        <label for="image-url"><b>image-url</b></label>
        <textarea class="text-area create-area" name="image_url" id="image_url"><% if (typeof item !== 'undefined' && item.image_url) { %><%= item.image_url%><% } %></textarea>
      </div>
      <div>
        <label for="price"><b>Price</b></label>
        <textarea class="text-area create-area" name="price" id="price"><% if (typeof item !== 'undefined' && item.price_in_cents) { %><%= (item.price_in_cents/100).toFixed(2)%><% } %></textarea>
      </div>
      <div >
        <label for="category"><strong>Select Category</strong></label>
        <select id="category_id" name="category_id">
          <option value="1" <% if (typeof item !== 'undefined' && item.category_id === 1) { %>selected<% } %>>Vehicles</option>
          <option value="2" <% if (typeof item !== 'undefined' && item.category_id === 2) { %>selected<% } %>>Stuffed</option>
          <option value="3" <% if (typeof item !== 'undefined' && item.category_id === 3) { %>selected<% } %>>Blocks</option>
          </select>
      </div>
      <div>
        <button class="button btn btn-danger" type="submit" id="create-item"><strong>Submit Listing</strong></button>
      </div>

    </form>
  </div>



</body>
</html>
