<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/featured.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>

<body>

  <%- include('partials/_header') %>

  <div class="top">

    <div class="sidenav">
      <form action="/search/<%=user_id%>" method="POST">
        <label for="categories">Category:</label>
        <select name="categories" id="categories">
          <option value=3>Blocks</option>
          <option value=2>Stuffed Toys</option>
          <option value=1>Vehicles</option>
        </select>
        <label for="max">Maximum</label>
        <input type="text" id="max" name="max" ><br>
        <label for="min">Minimum</label>
        <input type="text" id="min" name="min" ><br><br>

        <button type="submit">Search</button>
      </form>
    </div>
    <div class="item">
       <% for(let item in items) { %>
        <div class="sub-item">
           <div class="left">

          <img src="<%=items[item].image_url %>" alt="">
           </div>
           <div class="right">
            <br>
            <h4><%= items[item].name %></h4>
            <h5>Price:  $<%= items[item].price_in_cents/100 %>.00</h5>
            <br>
            <br>


                <% if (fav_arr.includes(items[item].id)){ %>

                  <form action="/fav/<%=items[item].id%>/<%=user_id%>/true" method="POST">
                  <span>
                  <button type="button" class="btn btn-danger btn-lg">  View  </button>
                  <button type="submit" id="star"> <i  class="fa fa-star fa-lg" style="color: yellow;" aria-hidden="true"></i></button>
                </span>
                  <% }else{ %>

                  <form action="/fav/<%=items[item].id%>/<%=user_id%>/false" method="POST">
                  <span>
                  <button type="button" class="btn btn-danger btn-lg">  View  </button>
                  <button type="submit" id="star"> <i  class="fa fa-star fa-lg" aria-hidden="true"></i></button>
                  </span>
                <% } %>

                 </form>
          </div>
          <div class="sold">
          <% if  (items[item].is_sold ) {%>
            <h2><STRONG>SOLD !!</STRONG></h2>           <br>
          <% } %>
        </div>
        </div>
       <% } %>
    </div>

  </div>
 <!-- <p id="b"> <%= items[0].name %></p> -->



 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
